
<style type="text/css">

  body {
    width:100px;
    float:left;

  }
  
  .ad_unit {
    width:300px;
    height:112px;
    float:left;
  }

  
  .img_holder  {
    float:left;
    top:0;
    left:0;
    width: 150px;
    height:112px;
  }
  
  
  .img_holder img  {
    float:left;
    top:0;
    left:0;
    width: 150px;
    height:112px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    -ms-border-radius: 4px 0 0 4px;
    -o-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
  }
  
  .txt_holder  {
    float:left;
    top:0;
    left:150px;
    width: 150px;
    height:112px;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    -ms-border-radius: 0 4px 4px 0;
    -o-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
    background-color:#262626;
  }
  
  a:hover .txt_holder {
    background-color:rgba(38,38,38,0.8);
  }
  
  .btn {
  font-size: 20px;
  padding: 2px 10px 6px;
  float:right;
  margin-right:10px;
  margin-top:10px;
  }
  
  .btn {
  padding: 5px 10px 6px;
  line-height: 18px;
  text-align: center;
  color: #fff;
  outline: none;
  text-align: center;
  text-decoration: none;
  text-transform: lowercase;
  font: 13px/100% "arial rounded mt bold",helvetica,arial,sans-serif;
  border: 1px solid #298eb6;
  background-color: #58cef9;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #58cef9),color-stop(100%, #3eabd6));
  background-image: -webkit-linear-gradient(top, #58cef9,#3eabd6);
  background-image: -moz-linear-gradient(top, #58cef9,#3eabd6);
  background-image: -ms-linear-gradient(top, #58cef9,#3eabd6);
  background-image: -o-linear-gradient(top, #58cef9,#3eabd6);
  background-image: linear-gradient(top, #58cef9,#3eabd6);
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.4);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.4);
  -ms-box-shadow: inset 0 1px 0 rgba(255,255,255,0.4);
  -o-box-shadow: inset 0 1px 0 rgba(255,255,255,0.4);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.4);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  zoom: 1;
  }
  
  h1 {
  color: #fff;
  font-size:14px;
  margin-bottom: 3px;
  font-family:"arial rounded mt bold",helvetica,arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  float:left;
  margin-top:5px;
  line-height:16px;
  padding-left:5px;
  font-weight:normal;
  width:100%;
  margin-right:5px;
  }
  
  h2 {
  color: #909090;
  font-size:12px;
  line-height:14px;
  margin-bottom: 3px;
  font-family:"arial rounded mt bold",helvetica,arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  float:left;
  margin-left:5px;
  margin-top:5px;
  font-weight:normal;
  width:100%;
  float:left;
  margin-right:5px;
  }
  
  .headline_wrapper {
    width:90%;
    float:left;
    margin-left:5%;
    margin-top:2%;
    height:55%;
  }
  
  
  .deal-location  {
    float:left;
background-image:url(https://a5.lscdn.net/imgs/7e8694c2-5e30-4afb-98e0-be5fb278100a/15.png);
    background-repeat:no-repeat;
    padding-left:20px;
    z-index:10;
    opacity:1.0;

  }
  
  .deal-location {
    color: #fff;
    font-size:12px;
    line-height:14px;
    font-family:"arial rounded mt bold",helvetica,arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    float:left;
    width:130px;
    margin-top:5px;
    margin-left:5px;
  }
  
  .savings {
    float:left;
    margin-top:-25px;
    height:25px;
    -webkit-border-radius: 0 0 0 4px;
    -moz-border-radius: 0 0 0 4px;
    -ms-border-radius: 0 0 0 4px;
    -o-border-radius: 0 0 0 4px;
    border-radius: 0 0 0 4px;
    background-color:rgba(38,38,38,0.8);
    width:150px;
    z-index:1;
    color: #fff;
    font-size:12px;
    line-height:14px;
  }

  textarea {
    float:left;
    margin-top:10px;
    width:400px;;
    height:200px;
  }
  

</style>
<h1>Listing live_hotels</h1>


<% @live_hotels.each do |hotel| %>
<%= hotel %>
<a href="%%CLICK_URL_UNESC%%https://www.livingsocial.com/escapes/properties/<%= hotel[1] %>?ref=sbs_<%= hotel[1] %>" target="_parent">  

  <div style="margin-top:50px;" class="ad_unit">

    <div class="img_holder">
      <img src="<%= hotel[8] %>/150_q60.jpg">
      <div class="savings">
        <div class="deal-location">
          <%= hotel[13] %>
        </div>
      </div>
    </div>
    <div class="txt_holder">
      <div class="headline_wrapper">
        <h1><%= hotel[4] %></h1>
        <h2><%= hotel[5] %>, <%= (hotel[6] == "NULL")? hotel[7] : hotel[6] %></h2>      
      </div>
      <p class="meta">
        <span class="btn">&raquo;</span>
      </p>
    </div>
  </div>  
</a>
<textarea>
<html>  
  <head>
    <style type="text/css">

      body {
        width:100px;
        float:left;

      }

      .ad_unit {
        width:300px;
        height:112px;
        float:left;
      }


      .img_holder  {
        float:left;
        top:0;
        left:0;
        width: 150px;
        height:112px;
      }


      .img_holder img  {
        float:left;
        top:0;
        left:0;
        width: 150px;
        height:112px;
        -webkit-border-radius: 4px 0 0 4px;
        -moz-border-radius: 4px 0 0 4px;
        -ms-border-radius: 4px 0 0 4px;
        -o-border-radius: 4px 0 0 4px;
        border-radius: 4px 0 0 4px;
      }

      .txt_holder  {
        float:left;
        top:0;
        left:150px;
        width: 150px;
        height:112px;
        -webkit-border-radius: 0 4px 4px 0;
        -moz-border-radius: 0 4px 4px 0;
        -ms-border-radius: 0 4px 4px 0;
        -o-border-radius: 0 4px 4px 0;
        border-radius: 0 4px 4px 0;
        background-color:#262626;
      }

      a:hover .txt_holder {
        background-color:rgba(38,38,38,0.8);
      }

      .btn {
      font-size: 20px;
      padding: 2px 10px 6px;
      float:right;
      margin-right:10px;
      margin-top:10px;
      }

      .btn {
      padding: 5px 10px 6px;
      line-height: 18px;
      text-align: center;
      color: #fff;
      outline: none;
      text-align: center;
      text-decoration: none;
      text-transform: lowercase;
      font: 13px/100% "arial rounded mt bold",helvetica,arial,sans-serif;
      border: 1px solid #298eb6;
      background-color: #58cef9;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #58cef9),color-stop(100%, #3eabd6));
      background-image: -webkit-linear-gradient(top, #58cef9,#3eabd6);
      background-image: -moz-linear-gradient(top, #58cef9,#3eabd6);
      background-image: -ms-linear-gradient(top, #58cef9,#3eabd6);
      background-image: -o-linear-gradient(top, #58cef9,#3eabd6);
      background-image: linear-gradient(top, #58cef9,#3eabd6);
      -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.4);
      -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.4);
      -ms-box-shadow: inset 0 1px 0 rgba(255,255,255,0.4);
      -o-box-shadow: inset 0 1px 0 rgba(255,255,255,0.4);
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.4);
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
      border-radius: 4px;
      display: -moz-inline-box;
      -moz-box-orient: vertical;
      display: inline-block;
      vertical-align: baseline;
      zoom: 1;
      zoom: 1;
      }

      h1 {
      color: #fff;
      font-size:14px;
      margin-bottom: 3px;
      font-family:"arial rounded mt bold",helvetica,arial,sans-serif;
      -webkit-font-smoothing: antialiased;
      float:left;
      margin-top:5px;
      line-height:16px;
      padding-left:5px;
      font-weight:normal;
      width:100%;
      margin-right:5px;
      }

      h2 {
      color: #909090;
      font-size:12px;
      line-height:14px;
      margin-bottom: 3px;
      font-family:"arial rounded mt bold",helvetica,arial,sans-serif;
      -webkit-font-smoothing: antialiased;
      float:left;
      margin-left:5px;
      margin-top:5px;
      font-weight:normal;
      width:100%;
      float:left;
      margin-right:5px;
      }

      .headline_wrapper {
        width:90%;
        float:left;
        margin-left:5%;
        margin-top:2%;
        height:55%;
      }


      .deal-location  {
        float:left;
    background-image:url(https://a5.lscdn.net/imgs/7e8694c2-5e30-4afb-98e0-be5fb278100a/15.png);
        background-repeat:no-repeat;
        padding-left:20px;
        z-index:10;
        opacity:1.0;

      }

      .deal-location {
        color: #fff;
        font-size:12px;
        line-height:14px;
        font-family:"arial rounded mt bold",helvetica,arial,sans-serif;
        -webkit-font-smoothing: antialiased;
        float:left;
        width:130px;
        margin-top:5px;
        margin-left:5px;
      }

      .savings {
        float:left;
        margin-top:-25px;
        height:25px;
        -webkit-border-radius: 0 0 0 4px;
        -moz-border-radius: 0 0 0 4px;
        -ms-border-radius: 0 0 0 4px;
        -o-border-radius: 0 0 0 4px;
        border-radius: 0 0 0 4px;
        background-color:rgba(38,38,38,0.8);
        width:150px;
        z-index:1;
        color: #fff;
        font-size:12px;
        line-height:14px;
      }

      textarea {
        float:left;
        margin-top:10px;
        width:400px;;
        height:200px;
      }


    </style>
  </head>
  <body>
    %%VIEW_URL_UNESC%%
    
    <a href="%%CLICK_URL_UNESC%%https://www.livingsocial.com/escapes/properties/<%= hotel[1] %>?ref=sbs_<%= hotel[1] %>" target="_parent">  

      <div class="ad_unit">

        <div class="img_holder">
          <img src="<%= hotel[8] %>/150_q60.jpg">
          <div class="savings">
            <div class="deal-location">
              <%= hotel[13] %>
            </div>
          </div>
        </div>
        <div class="txt_holder">
          <div class="headline_wrapper">
            <h1><%= hotel[4] %></h1>
            <h2><%= hotel[5] %>, <%= (hotel[6] == "NULL")? hotel[7] : hotel[6] %></h2>      
          </div>
          <p class="meta">
            <span class="btn">&raquo;</span>
          </p>
        </div>
      </div>  
    </a>
</body>
</html>
</textarea>

<% end %>

